img.kid{
    width: 600px;
    height: 600px;
    margin: 20px;
}

img.elisha{
    width: 600px;
    height: 600px;
    margin: 20px;
}

.vid{
    width:700px;
    height:500px;
}

.olivia{
    width:400px;
    height:400px;
    
}